@font-face {
    font-family: "BebasNeue";
    font-weight: bold;
    font-style : normal;
    src: url('fonts/BebasNeue Bold.eot');
    src: 
        url("fonts/BebasNeue Bold.woff") format("woff"),
        url("fonts/BebasNeue Bold.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue";
    font-weight : normal;
    font-style : normal;
  src: url('fonts/BebasNeue Regular.eot');
  src: 
    url("fonts/BebasNeue Regular.woff") format("woff"),
    url("fonts/BebasNeue Regular.otf") format("opentype");
    
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight : normal;
    font-style : normal;
    src: url('fonts/NanumBarunGothic.eot');
    src: local("☺"),    
        url("fonts/NanumBarunGothic.woff") format("woff"),
        url("fonts/NanumBarunGothic.otf") format("opentype");
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight: bold;
    font-style : normal;
    src: url('fonts/NanumBarunGothicBold.eot');
    src: local("☺"),    
        url("fonts/NanumBarunGothicBold.woff") format("woff"),
        url("fonts/NanumBarunGothicBold.otf") format("opentype");
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight : 200;
    font-style : normal;
    src: url('fonts/NanumBarunGothicLight.eot');
    src: local("☺"),    
        url("fonts/NanumBarunGothicLight.woff") format("woff"),
        url("fonts/NanumBarunGothicLight.otf") format("opentype");
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight: 100;
    font-style : normal;
    src: url('fonts/NanumBarunGothicBoldUltraLight.eot');
    src: local("☺"),    
        url("fonts/NanumBarunGothicBoldUltraLight.woff") format("woff"),
        url("fonts/NanumBarunGothicBoldUltraLight.otf") format("opentype");
}
