
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul {
  list-style : none;
  padding-left: 0;
}
body {
  font: 'Apple SD Gothic Neo', NanumBarunGothic, '나눔고딕', 'NG', 'Malgun Gothic', dotum, sans-serif;
  background-color: #B3AFA6;
}

@banner-xs-height:               240px;
@banner-sm-height:               300px;
@banner-md-height:               400px;
@banner-lg-height:               450px;

@banner-area-xs-height:          @banner-xs-height+@navbar-header-height;
@banner-area-sm-height:          @banner-sm-height+@navbar-header-height;
@banner-area-md-height:          @banner-md-height+@navbar-header-height;
@banner-area-lg-height:          @banner-lg-height+@navbar-header-height;

@paper-color:                    white;
@paper-xs-padding-top:           0px;
@paper-sm-padding-top:           50px;
@paper-md-padding-top:           80px;
@paper-lg-padding-top:           90px;

@news-item-xs-height:            180px;
@news-item-sm-height:            180px;
@news-item-md-height:            180px;
@news-item-lg-height:            250px;

@bulletin-item-xs-height:        180px;
@bulletin-item-sm-height:        180px;
@bulletin-item-md-height:        180px;
@bulletin-item-lg-height:        220px;

.cover {
  top : -9999px;
  bottom : -9999px;
  left : -9999px;
  right : -9999px;
  margin: auto;
  position: absolute;
}
.container, .container-fluid{
  padding-left : 0;
  padding-right : 0;
}
.header {
  font-weight: 100;
  -webkit-transition: all 0.5s ease, opacity 0.3s ease;
  -moz-transition: all 0.5s ease, opacity 0.3s ease;
  -o-transition: all 0.5s ease, opacity 0.3s ease;
  transition: all 0.5s ease, opacity 0.3s ease;
}
.header .logo {
  -webkit-transition: all 0.5s ease, opacity 0.3s ease;
  -moz-transition: all 0.5s ease, opacity 0.3s ease;
  -o-transition: all 0.5s ease, opacity 0.3s ease;
  transition: all 0.5s ease, opacity 0.3s ease;
  position: absolute;
}
#banner {
  z-index: @zindex-banner;

  height : @banner-xs-height;
  top : @navbar-header-height;
  position : fixed;

  width :100%;
  .bg {
    height: 100%;
    //width : auto;
  }
  .text{
    height : 100%;
  }

  @media (min-width: @screen-sm-min) {
    height : @banner-sm-height;

  }
  @media (min-width: @screen-md-min) {
    height : @banner-md-height;
  }
  @media (min-width: @screen-lg-min) {
    height : @banner-lg-height;
    .bg {
      width: 100%;
      height : auto;
    }
  }
}
#banner-area {
  height : @banner-area-xs-height;
  @media (min-width: @screen-sm-min) {
    height : @banner-area-sm-height;
  }
  @media (min-width: @screen-md-min) {
    height : @banner-area-md-height;
  }
  @media (min-width: @screen-lg-min) {
    height : @banner-area-lg-height;
  }
}

#paper {
  z-index: @zindex-paper;
  position: relative;
  background-color : @paper-color;

  /* row 가 삐져나온다 */
  overflow: hidden;

  padding-top: @paper-xs-padding-top;
  @media (min-width: @screen-sm-min) {
    padding-top: @paper-sm-padding-top;
  }
  @media (min-width: @screen-md-min) {
    padding-top: @paper-md-padding-top;
  }
  @media (min-width: @screen-lg-min) {
    padding-top: @paper-lg-padding-top;
  }
}

#news,
#hole,
#bulletin
#insta{
  position : relative;
}
#news {
  .news-item {
    position: relative;
    overflow: hidden;
    height : @news-item-xs-height;
    display: block;
    .bg {
      //height: 100%;
      width : 100%;
    }
    @media (min-width: @screen-sm-min) {
      height : @news-item-sm-height;
      .bg {
        height: 100%;
        width : auto;
      }
    }
    @media (min-width: @screen-md-min) {
      height : @news-item-md-height;
    }
    @media (min-width: @screen-lg-min) {
      height : @news-item-lg-height;
    }
  }
  .text-wrapper {
    position: relative;
    box-sizing: border-box;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    padding: 0 10px;

    -webkit-transition: all 0.3s ease, opacity 0.3s ease;
       -moz-transition: all 0.3s ease, opacity 0.3s ease;
         -o-transition: all 0.3s ease, opacity 0.3s ease;
            transition: all 0.3s ease, opacity 0.3s ease;

    background-color: rgba(70,70,70, 0.7);

    .text{
      height : 30%;
      @media (min-width: @screen-sm-min) {
        height: 20%;
      }
    }
  }
}
#hole {
  /* do not padding-top. it cause crack. */
  margin-top : 50px;
  overflow: hidden;
  .hole-text {
    position: relative;
    width : 100%;
  }
  .hole-bg{
    position: absolute;
    overflow: hidden;

    width : 100%;
    /*		height : 900px;*/
    top : 0;

    > img{
      top : 0;
      width : 100%;
      position: relative;
    }
  }
}
#bulletin {
  padding-top: 50px;
  .bulletin-item {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top : 10px;
    margin-bottom: 10px;
    height : @bulletin-item-xs-height;

    background-size: cover;
    .text-wrapper {
      &:hover {
        background-color: rgba(0,0,0, 0.7);
      }
      width : 100%;
      height : 100%;
      -webkit-transition: all 0.3s ease, opacity 0.3s ease;
      -moz-transition: all 0.3s ease, opacity 0.3s ease;
      -o-transition: all 0.3s ease, opacity 0.3s ease;
      transition: all 0.3s ease, opacity 0.3s ease;
      background-color: rgba(70,70,70, 0.7);
    }
    .text{
      height : 40%;
    }
    @media (max-width: @screen-xs-max) {
        margin : 0;
    }
    @media (min-width: @screen-sm-min) {
      height : @bulletin-item-sm-height;
    }
    @media (min-width: @screen-md-min) {
      height : @bulletin-item-md-height;
    }
    @media (min-width: @screen-lg-min) {
      height : @bulletin-item-lg-height;
    }
  }
  /*
      .bulletin-item > img {
          width : 100%;
      }
  */
  @media (max-width: @screen-xs-max) {
    .col-xs-6 {
      padding: 0;
    }
  }
}
/* #insta start */

#insta {
  &.container,
  &.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  font: 12px/26px BebasNeue;
  margin-top: 60px;
  position : relative;
  min-height : 300px;

  list-style: none;
  margin-bottom: 150px;
  .loading {
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  h1,
  h2,
  h3{
    margin-right: 0.5em;
    display: inline-block;
    font-weight: bold;
  }
  .row {
    margin-left : -5px;
    margin-right : -5px;
  }
  .col-md-1,
  .col-md-2,
  .col-xs-2,
  .col-xs-4{
    padding-left: 5px;
    padding-right: 5px;
  }

  .insta-item {
    display: inline-block;
    margin-bottom: 10px;
    /*		width : 100px;	*/
    > img {
      width : 100%;
    }
  }

  /*
      .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,


      #insta .col-md-1, .col-md-10, .col-md-11, .col-md-12,
      #insta .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
      #insta .col-xs-2, .col-xs-3,
      #insta .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 5px;
        padding-left: 5px;
      }
  */


  /*
      .insta-item.big {
          width : 400px;
      }
      .insta-item.small {
          width : 200px;
      }
  */
}

/* footer #footer start */
#footer {
  z-index: 0;
  color : white;
  background-image: none;
  background-color: #B3AFA6;
}
#footer,
#footer-area {
  height : 250px;
}
.footer-link {
  /*		padding-top : 100px;*/
  /*		width : 360px;*/
}
.footer-link .link {
  float: left;
}
.footer-link .link ul {

}
.footer-link .link li {
  list-style-type: square;
  float: left;
  margin-left : 1.3em;
  margin-right : 0.5em;
}
.footer-link .link a {
  color : white;
}
.footer-link .sns {
  float: right;
}
.footer-link ul {
  list-style: none;
}
.footer-link .icon {
  /*			width : 40px;*/
  display: inline-block;
}
#footer .line {
  width : 100%;
  border : 3px solid white;
  margin: 1.0em auto;
}
/*
	#footer > .wrapper {

		margin: 0 auto;
	}
*/
.footer-info {
  padding-top : 50px;
  color : white;
}
.footer-info h1{
  margin-top : 0.3em;
  font-size: 1.3em;
  font-weight: normal;
}
.footer-info h2{
  margin: 0.3em auto;
  line-height: 1.2em;
  font-size: 1.0em;
}
.footer-info p{
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 0.3em auto;
  padding: 0;
}


.footer-info .logo{
  width : 100%;
}
.footer-info .line{
  margin: 1.3em 0;
  border: 2px solid white;
}

@media (max-width: 767px) {
  #footer,
  #footer-area {
    height : 330px;
  }
  #footer .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-info .name {
    text-align: center;
  }
  .footer-info .name > h1 {
    /*            position: absolute;*/
    /*
                display: block;
                top:0; right:0; bottom:0; left:0;
                margin: auto;
    */
    margin-top : 10%;
  }
  .footer-info p{
    /*
                font-size: 1.0em;
                line-height: 1.2em;
    */
    /*			margin: 0.3em 1.5em;*/
    /*			padding: 0;*/
  }
  .footer-info h2{
    /*			margin: 0.3em 1.5em;*/
    /*            line-height: 1.2em;*/
    /*			font-size: 1.0em;*/
  }
  .footer-info .detail {
    padding-top : 10px;
  }
  #footer .line{
    /*			width : 95%;*/
  }
  .footer-link .link {
    margin-bottom: 10px;
  }
  .footer-link .link li {
    /*            margin-left : 2.0em;*/
    /*            margin-right : 0.5em;*/
  }
  /*
          .footer-link .sns {
              clear : both;
              float : right;
              text-align: center;
              margin : 2.0em auto;

          }
  */
  .footer-link .icon {
    margin : 3px 10px
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}